<div class="nav">
    <ul class="list-reset mb3 border-top">
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}} border-bottom" role="presentation"><a class="py1 block caps black" href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    <div class="sidebar-search mb3">
        <form role="search" method="get" class="search-form" action="#">
            <label>
              <span class="screen-reader-text">Search for:</span>
              <input type="search" class="search-field" placeholder="Search …" value="" name="s" title="Search for:">
            </label>
            <input type="submit" class="search-submit" value="Search">
          </form>
    </div>
   
      <a class="inline-block hop5 pl1" href="http://www.twitter.com/knowerlittle" title="Twitter page"><span class="hide">Twitter page</span><i class="fa fa-twitter"></i></a>
    
      <a class="inline-block hop5 pl1" href="https://uk.linkedin.com/in/knowerlittle" title="LinkedIn page"><span class="hide">LinkedIn page</span><img class="align-middle" src="{{asset 'images/linkedin.svg'}}" alt="LinkedIn icon"></a>

</div>
