<div class="nav">
    <ul class="list-reset mb3 border-top">
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}} border-bottom" role="presentation"><a class="py1 block caps black" href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    <div class="sidebar-search mb3">
        <script>
          (function() {
            var cx = '005322108562334887824:qoag4lt-1ko';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:search></gcse:search>
    </div>
   
      <a class="inline-block hop5 pl1" href="http://www.twitter.com/knowerlittle" title="Twitter page"><span class="hide">Twitter page</span><i class="fa fa-twitter fa-2x" style="color:#474747"></i></a>
    
      <a class="inline-block hop5 pl1" href="https://www.instagram.com/knowerlittle"><span class="hide">Instagram page</span><i class="fa fa-instagram fa-2x" style="color:#474747"></i></a>
    
      <a class="inline-block hop5 pl1" href="https://uk.linkedin.com/in/knowerlittle" title="LinkedIn page"><span class="hide">LinkedIn page</span><i class="fa fa-linkedin fa-2x" style="color:#474747"></i></a>
    
      <a class="inline-block hop5 pl1" href="https://www.github.com/knowerlittle"><span class="hide">Github page</span><i class="fa fa-github fa-2x" style="color:#474747"></i></a>

</div>
